root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml,*.jade, *.js}]
spaces_around_brackets = both
max_line_length = 120
quote_type = double
indent_style = space
indent_size = 2
